@import 'index.scss';

.button {
  background-color: $darkred;
  border: solid 0rem $black;
  border-radius: 1rem;
  color: $white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
  width: 15rem;

  &:hover {
    scale: 1.05;
  }

  &:active {
    scale: 0.95;
  }
}
